/* ====================================
// css variables
// ==================================== */

:root {
  stroke:none;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  display: block;
  font-size: 16px;
  background: #ddd;
  font-family: 'Libre Franklin', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  max-width: 320px;
  margin: auto;
  background: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
  display: block;
  max-width: 100%;
}

header {
  background: #fff;
  margin-bottom: 10px;
}

nav {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}

.top-infos {
  padding: 15px 40px 15px 40px;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 30px 10px;
}

.recipes-title,
.name-recipes {
  font-family: 'Libre Franklin';
  text-transform: uppercase;
  font-weight: 700;
}

.recipes-title {
  font-size: 11px;
  color: #fff;
  background: red;
  border-radius: 50px;
  padding: 0 10px 0 10px;
}

.week-cook {
  padding: 20px 15px 20px 15px;
  background: hsl(88, 27%, 90%);
}

h1 {
  font-size: 24px;
  line-height: 1.2;
  margin: 10px;
}

h1,
h2,
.introduction {
  font-family: 'Sorts Mill Goudy';
}

h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
}

.container-recipes {
  margin-bottom: 20px;
}

.recipes {
  background: #fff;
  padding: 10px;
}

footer {
  background: #000;
  color: #fff;
  text-align: left;
  padding: 25px 15px 25px 15px ;
}

.lastest-info {
  display: flex;
  flex-direction: column;
}
/* ====================================
// base rules
// ==================================== */
